sudo: required
language: generic
services:
    - docker

before_install:
    - docker build -f Dockerfile.dev -t sujeetkp/docker-react .

script:
    - docker run -e CI=true sujeetkp/docker-react npm run test

deploy:
    provider: elasticbeanstalk
    region: "ap-south-1"
    name: "docker-react"
    env: "DockerReact-env"
    bucket_name: "elasticbeanstalk-ap-south-1-211307162405"
    bucket_path: "docker-react"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
