sudo: required
language: generic 
services:
    - docker

before_install:
    - docker build -f Dockerfile.dev -t sujeetkp/docker-react .

script:
    - docker run -e CI=true sujeetkp/docker-react npm run test
    
